# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
dist
dist-ssr
Referencias_iniciais
package-lock.json
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
